<ion-content fullscreen *ngIf="details">
  <ion-card>
    <img src="{{imageMedium}}" />
    <ion-card-header>
      <ion-card-title>{{details.title.rendered}}</ion-card-title>
      <ion-card-subtitle>{{details.date | date:'dd/MM/yyyy HH:MM'}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content [innerHTML]= "details.content.rendered">
    </ion-card-content>
  </ion-card>
  <ion-button style="float: right; margin-right: 15px;" (click)="goBack()">Atrás</ion-button>
</ion-content>
