<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Noticias
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let news of feed; index as i">
        <ion-item style="cursor:pointer;" (click)="onSelect(news.id, i)">
            <img [src]="news.imageThumb">
            <ion-label style="margin-left: 15px;">
                <h2 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{news.title.rendered}}</h2>
                <h3>{{news.date | date:'dd/MM/yyyy HH:MM'}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
